In [2]:
import pandas as pd
import numpy as np
df= pd.read_csv("Clean_DF.csv")
df

,Year,Month,Date,Hour,Minute,Dry Bulb Temperature,Dew Point Temperature,Apparent Temperature,Relative Humidity,Wind Direction,Average Wind Speed,Wind Gust,Mean Sea Level Pressure,Rainfall
0,2011.0,1.0,1.0,0.0,0,24.8,0.0,13.5,49.0,135.0,11.0,12.3,1007.5,0.0
1,2011.0,1.0,1.0,0.0,30,24.4,0.0,13.3,50.0,97.5,9.7,9.7,1007.3,0.0
2,2011.0,1.0,1.0,1.0,0,23.6,0.0,13.5,52.7,52.5,7.7,8.3,1007.3,0.0
3,2011.0,1.0,1.0,1.0,30,23.5,0.0,13.4,53.0,67.5,3.0,3.5,1007.2,0.0
4,2011.0,1.0,1.0,2.0,0,23.6,0.0,13.4,52.0,168.8,0.0,0.0,1007.2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175560,2021.0,3.0,16.0,9.0,30,16.5,15.3,10.4,67.0,180.0,7.0,9.0,1026.9,0.0
175561,2021.0,3.0,16.0,10.0,0,17.2,16.3,10.8,66.0,157.5,7.0,13.0,1026.9,0.0
175562,2021.0,3.0,16.0,10.0,30,17.8,17.6,10.4,62.0,135.0,2.0,9.0,1026.9,0.0
175563,2021.0,3.0,16.0,11.0,0,18.3,17.4,10.7,61.0,225.0,9.0,13.0,1026.9,0.0
175564,2021.0,3.0,16.0,11.0,30,18.0,16.5,10.6,62.0,225.0,9.0,13.0,1026.7,0.0

In [3]:
df= df.rename(columns={'Date':'Day'})
dates = pd.to_datetime(df.iloc[:,0:5]).to_frame()
df = dates.join(df.iloc[:,5:])
df= df.rename(columns={0:'Date'})

In [4]:
df=df.set_index('Date')

In [8]:
df["Rainfall"].shift(-18)
left=df.iloc[:,:-1].resample('24H').mean() 
right=df.iloc[:,-1].resample('24H').max()
ndf=left.join(right)
ndf

,Dry Bulb Temperature,Dew Point Temperature,Apparent Temperature,Relative Humidity,Wind Direction,Average Wind Speed,Wind Gust,Mean Sea Level Pressure,Rainfall
Date,,,,,,,,,
2011-01-01,19.739583,0.000000,12.089583,61.625000,178.439583,14.056250,16.283333,1011.622917,0.0
2011-01-02,18.044737,0.000000,8.242105,53.223684,172.205263,21.452632,25.547368,1016.200000,0.0
2011-01-03,16.582979,0.000000,5.472340,47.868085,165.323404,24.378723,28.478723,1016.921277,0.0
2011-01-04,16.814583,0.000000,8.939583,60.170833,185.079167,15.672917,18.631250,1012.325000,0.0
2011-01-05,18.100000,0.000000,11.712500,66.585417,208.829167,19.720833,22.833333,1010.039583,0.0
...,...,...,...,...,...,...,...,...,...
2021-03-12,22.325000,23.050000,14.800000,67.718750,108.109756,11.791667,16.937500,1014.372917,0.0
2021-03-13,20.387500,19.275000,13.093750,65.062500,128.437500,25.072917,33.708333,1010.422917,15.8
2021-03-14,14.395833,11.864583,6.616667,60.750000,205.851064,18.770833,24.687500,1020.837500,17.2
2021-03-15,15.437500,14.204167,9.952083,70.895833,125.156250,15.062500,19.687500,1023.835417,0.0
2021-03-16,16.308333,15.462500,11.783333,74.916667,174.375000,11.375000,15.250000,1025.716667,0.0

In [7]:
ndf.to_csv("df_daily_avg.csv", index=False)